body{
	margin: 0;
	padding: 0;
	background-image:url(images/pic.jpg);
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	
}
.reg-form{
	background:rgba(0,0,0,.4);
	margin:20 auto;
	padding:20px;
	border-radius:5px;
}
.reg-form input{
	display:block; 
	width:100%;
	font-size:20px;
	padding:3px;
	border:1px solid yellow;
	background:transparent;
	color:#fff;
	border-radius:5px;
}

.reg-form label{
	color:#fff;
	font-size:20px;
	display:block;
}


.reg-form p{
	color:#fff;
	font-size:18px;
}
.reg-form p a{
	color:yellow;
}
					/* responsive part start from hear */

@media screen and (min-width : 300px) and (max-width : 576px) {

	.reg-form{
		
		width: 80%;
		padding:20px;
		
	}
	
	.reg-form p{
		font-size:15px;
	}
}
@media screen and (min-width : 576px) and (max-width : 768px) {

	/* .reg-form{
		
		width: 80%;
		padding:20px;
		
	} */
	
	.reg-form p{
		font-size:18px;
	}
}